<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Multiselect in flask</title>
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vue-multiselect.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-multiselect@2.0.0-beta.14/dist/vue-multiselect.min.css">
  </head>


  <body onload=init()>
    <div id="params">
      <multiselect
        v-model="param_list"
        :options="options"
        :multiple="true"
        placeholder="Välj näringsvärde"
        >
      </multiselect>
      <!--<pre>{{ param_list }}</pre>-->
    </div>
    <div id="app">
      <multiselect
        v-model="muni_list"
        :options="options"
        :multiple="true"
        placeholder="Välj livsmedel"
        >
      </multiselect>
      <!--<pre>{{ muni_list }}</pre>-->
      <button type="button" name="button" onclick='drawChart("lin")'>Rita graf</button>
      <div id="plot" style="width: 1080px; height: 400px;"></div>

      <p>Om du vill komma tillbaka till det här urvalet kan du kopiera adressen i det här fältet:</p>
      <input id="url" v-model="url" style="width: 600px">
    </div>


    <script type="text/javascript">
    var housePrices = [];
    var request = new XMLHttpRequest();
    //request.open("GET", "https://raw.githubusercontent.com/friberger/kodamat/master/livsmedel.json", false);
    //request.open("G
    //request.send(null)
    //var housePrices = JSON.parse(request.responseText);
    var housePrices = JSON.parse('{{ jsonData|safe }}'); // @todo kan jag skippa json? och skicka array istället?
    var muni_list=[];
    function init() {
      //readFile();
      multi.muni_list = getSelectionFromUrl();
      var nutritionals = housePrices;
      var selection = nutritionals[multi.muni_list[0]];
      var options_list = Object.keys(selection);
      console.log('Nuttar', nutritionals);
      console.log('Selection', selection);
      console.log('Optioner', options_list);
      parameters.options = options_list;
      drawChart('lin');
    }
    function getSelectionFromUrl() {
      var url_args = window.location.search.substring(1);
      url_args=decodeURI(url_args);
      url_args=url_args.split(",")
      //muni_list=[muni_list];
      if (url_args != ""){
        return url_args;
      } else {
        return [];
      }
    }
    var multi=new Vue({
      components: {
        Multiselect: window.VueMultiselect.default
      },
      data: {
        url_args: '',
        muni_list: '',
        options: Object.keys(housePrices)
      },
      computed: {
        url: function (){
        var address = window.location.href.split('?')[0];
        var munis = this.muni_list;
        var muni_url = encodeURI(munis);
        var new_address = address + '?' + muni_url;
        //console.log("Options", Object.keys(housePrices[muni_list[0]]));
        return new_address;
       },
        }
    }).$mount('#app');
    var parameters=new Vue({
      components: {
        Multiselect: window.VueMultiselect.default
      },
      data: {
        param_list: ["Kolhydrater (g)","Fett (g)","Protein (g)","Fibrer (g)","Vatten (g)","Sockerarter (g)"],
        yy: '',
        options: ['Äpplen', 'Päron']
      }
    }).$mount('#params')
 function drawChart(type) {
      //console.log(multi.muni_list);
      var data = [];
      for (var i = 0; i < multi.muni_list.length; i++) {
        //Om kommunlistan är tom, gör inget.
        if (multi.muni_list[i]) {
          trace=getData(multi.muni_list[i]);
          data.push(trace);
      var layout = {
      title: 'Mat',
      xaxis: {
        title: 'Näringsvärde'
      },
      yaxis: {
        title: 'gram per 100 g',
        type: type
      }};
      Plotly.newPlot('plot', data, layout);
    }
}
}
function getData(muni) {
  var years = parameters.param_list;
  var plot_data2 = {};
  plot_data2.x = years;
  var prices = [];
  years.forEach(setY);
  function setY(item, index) {
      prices.push(housePrices[muni][item]);
  }
  plot_data2.y = prices;
  plot_data2.type = "scatter";
  plot_data2.name = muni;
  //plot_data2 = [plot_data2];
  console.log(plot_data2);
  return(plot_data2);
}
    </script>

  </body>
