<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Multiselect</title>
  <script src="vue.js"></script>
  <script src="plotly-latest.min.js"></script>
  <script src="vue-multiselect.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-multiselect@2.0.0-beta.14/dist/vue-multiselect.min.css">
</head>
<body onload=init()>
  <div id="params">
    <multiselect
    v-model="param_list"
    :options="options"
    :multiple="true"
    placeholder="Välj näringsvärde"
    >
  </multiselect>
  <!--<pre>{{ param_list }}</pre>-->
</div>
<div id="app">
  <multiselect
  v-model="selectedFoodOptions"
  id="ajax"
  placeholder="Börja skriva"
  :options="foodOptions"
  :multiple="true"
  :searchable="true"
  :loading="isLoading"
  :internal-search="false"
  :clear-on-select="true"
  :close-on-select="true"
  :options-limit="100"
  :limit="15"
  :limit-text="limitText"
  @search-change="asyncFind"
  >
</multiselect>

<button type="button" name="button" onclick='drawChart(multi.selectedFoodOptions)'>Rita graf</button>
<div id="plot" style="width: 800px; height: 400px;"></div>

<p>Om du vill komma tillbaka till det här urvalet kan du kopiera adressen i det här fältet:</p>
<input id="url" v-model="url" style="width: 600px">
</div>

<script type="text/javascript">
var type="lin";
var stuff = '';
var myArr = {};
var foodValues = [];

function ajaxFindFood(stuff) {
  var returnList = [];
  var xmlhttp1 = new XMLHttpRequest();
  var url = "db2.php?name=" + stuff;
  xmlhttp1.onreadystatechange = function() {
    if(xmlhttp1.readyState == 4 && xmlhttp1.status == 200) {
      myArr = xmlhttp1.responseText; //JSON.parse(xmlhttp1.responseText);
      myArr = myArr.split('***');
      myArr.splice(-1,1);
      for (var i = 0; i < myArr.length; i++) {
        myArr[i]=JSON.parse(myArr[i]);
        returnList.push(myArr[i].Livsmedelsnamn);
      };
    }
  }
  xmlhttp1.open("GET", url, true);
  xmlhttp1.send();
  return (returnList);
}

var selectedFoodOptions=[];

function init() {
  multi.selectedFoodOptions = getSelectionFromUrl();
  drawChart(multi.selectedFoodOptions);
}

function getSelectionFromUrl() {
  var url_args = window.location.search.substring(1);
  url_args=decodeURI(url_args);
  url_args=url_args.split(",")
  //selectedFoodOptions=[selectedFoodOptions];
  if (url_args != ""){
    return url_args;
  } else {
    return [];
  }
}

var multi=new Vue({
  components: {
    Multiselect: window.VueMultiselect.default
  },
  data: {
    url_args: '',
    selectedFoodOptions: [],
    foodOptions: [],
    isLoading: false
  },
  methods: {
    limitText (count) {
      return `and ${count} other foods`
    },
    asyncFind (query) {
      this.isLoading = true
      console.log('asyncFind');
      this.foodOptions = ajaxFindFood(query);
      console.log(this.foodOptions);
      this.isLoading = false
    }
  },
  computed: {
    url: function (){
      var address = window.location.href.split('?')[0];
      var munis = this.selectedFoodOptions;
      var muni_url = encodeURI(munis);
      var new_address = address + '?' + muni_url;
      return new_address;
    },
  }
}).$mount('#app');

var parameters=new Vue({
  components: {
    Multiselect: window.VueMultiselect.default
  },
  data: {
    param_list: ['Kolhydrater_g','Fett_g','Protein_g','Fibrer_g','Vatten_g','Avfall_skal_etc'],
    yy: '',
    options: ['Kolhydrater_g','Fett_g','Protein_g','Fibrer_g','Vatten_g','Avfall_skal_etc']
  }
}).$mount('#params')

function sendToPlotly(foodValues) {
  var data=[];
  for (var i = 0; i < foodValues.length; i++) {
    if (foodValues[i]) {
      trace=getData(foodValues[i]);
      data.push(trace);
    }
  }
  var layout = {
    title: 'Mat',
    xaxis: {
      title: 'Näringsvärde, källa Livsmedelsverket'
    },
    yaxis: {
      title: 'gram per 100 g',
      type: type
    }};
    Plotly.newPlot('plot', data, layout);
  }

  function addQuotationMarks(item) {
    return ("'" + item + "'");
  }

  function drawChart(foodList) {
    foodList.forEach(addQuotationMarks);
    foodList=foodList.join("','");
    foodList=addQuotationMarks(foodList);
    var xmlhttp2 = new XMLHttpRequest();
    foodList=encodeURI(foodList);
    var url = "food_values.php?foodStuff=" + foodList;
    xmlhttp2.onreadystatechange = function() {
      if(xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
        foodValues = xmlhttp2.responseText; //JSON.parse(xmlhttp2.responseText);
        foodValues=foodValues.split('##');
        sendToPlotly(foodValues);
      }
    }
    xmlhttp2.open("GET", url, true);
    xmlhttp2.send();
  }

  function getData(oneItem) {
    var params = parameters.param_list;
    var oneItem=JSON.parse(oneItem);
    var plot_data = {};
    plot_data.x = params;
    var y=[];
    for (var i = 0; i < params.length; i++) {
      y.push(oneItem[params[i]]);
    }
    plot_data.y = y;
    plot_data.type = "scatter";
    plot_data.name = oneItem['Livsmedelsnamn'];
    return(plot_data);
  }

  </script>

</body>
</html>
